body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: seagreen ;
    font-family:'Times New Roman', Times, serif;
}

.calculator {
    background: snow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1) 8px 8px 8px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    background-color: slategray;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2) ;
}

button:hover {
    background-color: springgreen;
}

.operation{
    background-color: khaki;
}

.other{
    background-color:darkorange;
}

.equal{
    background-color: darkorange;
}